{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Check Your Email</h4>
            <p>We've sent you an email with instructions on how to reset your password. If an account exists with the email you entered, you should receive it shortly.</p>
            <hr>
            <p class="mb-0">If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock %}
