{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Add Debt for {{ debtor.name }}</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-danger">Add Debt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
